<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $block.isEnableChanger == false}>

<{$smarty.const._MB_LEGACY_MESSAGE_CAN_NOT_THEME_CHANGE}>

<{else}>

<form action="#" method="post">

    <div layout="column center p-2">

        <{if $block.mode==1}>
        <img self="top center mt-2"
             id="xoops_theme_img"
             src="<{$xoops_imageurl}><{$block.theme_selected_screenshot}>"
             alt="<{$theme_option.name}>"
             title="<{$theme_option.name}>"
             width="<{$block.width}>">
        <br>
        <select id="xoops_theme_select" name="xoops_theme_select" onchange="showThemeScreenshot('xoops_theme_img','xoops_theme_select', '<{$xoops_url}>');">
            <{else}>
            <select id="xoops_theme_select" name="xoops_theme_select" onchange="submit();" size="3">
        <{/if}>
        <{foreach item=theme_option from=$block.theme_options}>
        <option value="<{$theme_option.name}>!-!<{$theme_option.screenshot}>" <{$theme_option.selected}>><{$theme_option.name}></option>
        <{/foreach}>
        </select>

            <div layout="row center-justify px-2">

                <div><{'<span class="badge">'|cat:$block.count|cat:'</span>'|string_format:$smarty.const._MB_LEGACY_LANG_NUMTHEME}></div>

                <{if $block.mode==1}>
                <input type="submit" value="<{$smarty.const._GO}>">
                <{/if}>
            </div>

    </div>


</form>

<script>
    document.addEventListener('input', function (event) {

        // Only run for #wizard select
        if (event.target.id !== 'wizard') return;

        if (event.target.value === 'Harry Potter') {
            alert('He\'s ok, I guess.');
        }

    }, false);
</script>
<{/if}>
