<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>

<section layout="column">

    <div layout="row center-justify mb-4" class="bg-color">

        <{* ----- Post Header *}>
        <div self="size-x1">
            <h3 class="<{if $post.invisible || ! $post.approval }><{if $post.invisible}> invisible<{elseif ! $post.approval}> yetapproval<{/if}><{/if}>">
                <a id="post_id<{$post.id}>" title="post_id<{$post.id}>">
                    <img class="svg posticon" src="<{$xoops_url}>/images/icons/posticon<{$post.icon}>.svg" alt="<{$icon_meanings[$post.icon]}>"></a>
                <{if $caller == 'listposts'}>
                <a href="<{$mod_url}>/index.php?post_id=<{$post.id}>" id="post_path<{$post.unique_path}>" title="post_path<{$post.unique_path}>">
                    <{$post.subject}></a>
                <{else}>
                <{$post.subject}>
                <{/if}>
            </h3>
        </div>

        <{* ------- Date and history revision *}>
        <div self="center">

            <img class="svg date-time" src="<{$xoops_url}>/images/icons/date-time.svg">
            <span self="sm-hide"><{$smarty.const._MD_D3FORUM_ON}></span> <span class="badge"><{$post.post_time_formatted}></span>


            <{* ------- depth in tree read control *}>
<!--                <span class="badge"><{$smarty.const._MD_D3FORUM_UNIQUEPATHPREFIX}> <{$post.unique_path}></span>
                <{if $postorder < 2 || $caller == 'viewpost'}>
                <span class="badge d3f_head_tree_depth" style="width:<{$post.depth_in_tree*5|min:100}>%;">
                           depth: <{$post.depth_in_tree}></span>
                <{/if}>-->

            <{if $post.post_time < $post.modified_time and $xoops_isadmin}>

            <button type="button" class="btn"
                    data-toggle="popover"
                    data-html="true"
                    data-placement="top"
                    title="<{$smarty.const._MD_D3FORUM_HISTORIES}>"
                    data-content="
                        <a href='<{$mod_url}>/admin/index.php?page=post_histories&amp;post_id=<{$post.id}>'}>
                        <{$smarty.const._MD_D3FORUM_LASTMODIFIED}><br><{$post.modified_time_formatted}></a>">
                <img class="svg history" src="<{$xoops_url}>/images/icons/history.svg">
            </button>
            <{/if}>

        </div><{* ------- Date and history revision *}>

    </div>


    <div layout="lg-column" self="size-x1">

        <{* ------- poster avatar *}>
        <{* ------- Smarty function cycle used to alternate comments position left and right *}>

        <div self="m-3 <{cycle values='left first,top last'}>">
            <{if $post.poster_avatar}>
            <{if $post.poster_uid != 0}>
            <a href="<{$xoops_url}>/userinfo.php?uid=<{$post.poster_uid}>" title="<{$post.poster_uname}>">
                <{/if}>
                <{* TODO Theme options to customize UI *}>
                <{if $post.poster_avatar.height > 48}>
                <img src="<{$xoops_upload_url}>/<{$post.poster_avatar.path}>" width="48" height="48" alt="<{$post.poster_uname}>" self="radius-circle">
                <{elseif $post.poster_avatar.width > 1}>
                <img src="<{$xoops_upload_url}>/<{$post.poster_avatar.path}>" width="<{$post.poster_avatar.width}>" height="<{$post.poster_avatar.height}>" alt="<{$post.poster_uname}>" self="radius-circle">
                <{else}>
                <img src="<{$xoops_url}>/modules/user/images/no_avatar.gif" width="48" height="48" alt="<{$post.poster_uname}>" self="radius-circle">
                <{/if}>
                <{if $post.poster_uid != 0}>
            </a>
            <{/if}>
            <{/if}>

            <{* ------- poster info *}>
            <div class="itemInfo">
                <{if $post.poster_uid != 0}>
                <a href="<{$xoops_url}>/userinfo.php?uid=<{$post.poster_uid}>"><{/if}>
                    <{$post.poster_uname}>
                    <{if $post.poster_uid != 0}>
                </a>
                <{/if}>

                <{if $post.poster_uid != 0}>
                <{if $post.poster_rank_title}>
                <br>
                <img src="<{$xoops_upload_url}>/<{$post.poster_rank_image}>" alt="<{$post.poster_rank_title}>" title="<{$post.poster_rank_title}>">
                <{/if}>

                <{* <{$smarty.const._MD_D3FORUM_POSTERJOINED}>: <span class="badge"><{$post.poster_regdate_formatted}></span> *}>

                <{if $post.poster_from}>
                <br>
                <{$smarty.const._MD_D3FORUM_POSTERFROM}>: <span class="badge"><{$post.poster_from}></span>
                <{/if}>&nbsp;
                <br>
                <{$smarty.const._MD_D3FORUM_POSTERPOSTS}>: <span class="badge"><{$post.poster_posts_count}></span>

                <{if $post.poster_is_online}>
                <br>
                <span class="badge"><{$smarty.const._MD_D3FORUM_POSTERISONLINE}></span>
                <{/if}>

                <{else}>

                <{if $post.guest_url || $post.guest_trip}>
                <{* <{$post.guest_email}> *}>
                <{if $post.guest_url}>
                <br>
                <a href="<{$post.guest_url}>" title="<{$post.guest_url}>"><{$smarty.const._MD_D3FORUM_TH_GUESTURL}></a><{/if}>
                <{if $post.guest_trip}>
                <br>
                <{$smarty.const._MD_D3FORUM_TH_GUESTTRIP}>: <{$post.guest_trip}><{/if}>
                <{/if}>

                <{/if}>

            </div><{* ------- /poster info *}>

        </div><{* ------- / poster avatar *}>


        <{* ------- post *}>
        <div self="size-x3" class="bg-color">
            <{$post.post_text}>

            <{if $post.signature}>
            <div>-- <br><{$post.signature}></div>
            <{/if}>
        </div><{* ------- / post *}>

    </div>


    <{* ------- Vote and Admin Controllers *}>

    <div layout="row center-center mb-3">

        <{if $post.can_vote || $mod_config.use_vote && ! $post.invisible && $post.approval}>
        <div self="size-x2" role="group" aria-label="Vote group">

            <{if $post.can_vote}>
            <form action="<{$mod_url}>/index.php" method="get" style="display:inline;">
                <input type="hidden" name="page" value="vote_to_post">
                <input type="hidden" name="post_id" value="<{$post.id}>">
                <input type="hidden" name="point" value="10">
                <{if $caller == 'listposts'}>
                <input type="hidden" name="ret_name" value="topic_id">
                <input type="hidden" name="ret_val" value="<{$topic.id}>">
                <{/if}>
                <button class="btn btn-outline-success btn-sm" type="submit" value="<{$smarty.const._MD_D3FORUM_VOTEPOINTDSCBEST}>">
                    <img class="svg thumb-up" src="<{$xoops_url}>/images/icons/thumb-up.svg"> <{$smarty.const._MD_D3FORUM_VOTEPOINTDSCBEST}></button>
            </form>
            <{/if}>

            <span class="small ml-2 py-1">
                <img class="svg chart" src="<{$xoops_url}>/images/icons/chart.svg">
                    <{$smarty.const._MD_D3FORUM_VOTECOUNT}>
                    <span class="badge badge-secondary px-2"> <{$post.votes_count}></span>
                    <{$smarty.const._MD_D3FORUM_VOTEPOINTAVG}>
                    <span class="badge badge-secondary px-2"><{$post.votes_avg|string_format:"%.2f"}></span>
            </span>

        </div>
        <{/if}>

        <{* ------- Admin actions controllers *}>

        <div self="size-x3">

            <div layout="row center-right" role="group" aria-label="Post actions">

                <{* ------- Admin or Moderator *}>
                    <{if $forum.isadminormod}>
                    <a class="btn cutpaste" href="<{$mod_url}>/index.php?page=cutpasteposts&amp;post_id=<{$post.id}>" title="<{$smarty.const._MD_D3FORUM_CUTPASTEPOSTS}>">
                        <img class="svg tools" src="<{$xoops_url}>/images/icons/tools.svg"></a>
                    <{/if}>

                    <{if ! $post.approval && $forum.isadminormod}>
                    <a class="btn" href="<{$mod_url}>/index.php?page=update_post_approval&amp;post_id=<{$post.id}>&amp;ret_name=<{$ret_name}>&amp;ret_val=<{$ret_val}>" title="<{$smarty.const._MD_D3FORUM_LABEL_DOAPPROVAL}>">
                        <img class="svg topic_invisible" src="<{$xoops_url}>/images/icons/topic_invisible.svg"></a>
                    <{/if}>
                <{* ------- / Admin or Moderator *}>

                <{if $post.can_edit}>
                <a class="btn" href="<{$mod_url}>/index.php?page=edit&amp;post_id=<{$post.id}>" title="<{$smarty.const._MD_D3FORUM_POSTEDIT}>">
                    <img class="svg edit-box" src="<{$xoops_url}>/images/icons/edit-box.svg">
                <{/if}>

                <{if $post.can_delete}>
                <a class="btn" href="<{$mod_url}>/index.php?page=delete&amp;post_id=<{$post.id}>" title="<{$smarty.const._MD_D3FORUM_POSTDELETE}>">
                    <img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg" alt=""></a>
                <{/if}>

                <{if $post.can_reply}>
                <a class="btn" href="<{$mod_url}>/index.php?page=reply&amp;post_id=<{$post.id}>" title="<{$smarty.const._MD_D3FORUM_POSTREPLY}>">
                    <img class="svg reply" src="<{$xoops_url}>/images/icons/reply.svg"></a>
                <{/if}>

            </div>
            <{* ------- /Admin actions controllers *}>

        </div>

    </div>

</section>
