<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}> </div>

<{include file="$xoops_theme/templates/d3forum/inc_topic_icon.html"}>
<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mod_config.show_breadcrumbs}>
    <ul class="breadcrumb" aria-label="breadcrumb">
        <li>
            <a href="<{$xoops_url}>/">
                <img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" alt=""></a>
        <li>
        <a href="<{$mod_url}>/index.php">
            <img class="svg forum_1" src="<{$xoops_url}>/images/icons/forum_1.svg" alt=""> <{$smarty.const._MD_D3FORUM_TOP}></a>
        <{foreach name=catgorybreadcrumbs from=$category.paths_raw key=parent_id item=parent_title_raw}>
            <{if ! $smarty.foreach.catgorybreadcrumbs.last}>
            <li><a href="<{$mod_url}>/index.php?cat_id=<{$parent_id}>"><{$parent_title_raw|escape}></a>
            <{/if}>
        <{/foreach}>
        <li aria-current="page"><{$category.title}>
    </ul>
<{/if}>


    <{* ------- Category Top message *}>
    <section name="category-top-forums" layout="column my-4" class="bg-color">
        <div layout="rows center-justify mb-4">
            <div self="size-x1">
                <h2><{$category.title}></h2>
            </div>
            <div self="top mt-2 mr-2">
                <a href="<{$mod_url}>/index.php?page=rss&amp;cat_ids=<{$category.id}>&amp;odr=1" title="<{$smarty.const._MD_D3FORUM_LINK_CATEGORYRSS}>">
                    <img class="svg rss" src="<{$xoops_url}>/images/icons/rss.svg" alt="RSS"></a>
            </div>
            <{if $category.desc}>
            <div layout="row">
                <{$category.desc}>
            </div>
            <{/if}>
        </div>


        <{* ------- Admin Action controller *}>

        <article name="Controller" layout="row center-justify sm-column">

            <{if $xoops_isadmin}>
            <div layout="left">
                <{* ----- CATEGORY MANAGER *}>
                <a class="btn" href="<{$mod_url}>/index.php?page=categorymanager&amp;cat_id=<{$category.id}>" title="<{$smarty.const._MD_D3FORUM_LINK_CATEGORYMANAGER}>">
                    <img class="svg edit-box" src="<{$xoops_url}>/images/icons/edit-box.svg"></a>
                <{* ----- CATEGORY ACCESS *}>
                <a class="btn" href="<{$mod_url}>/admin/index.php?page=category_access&amp;cat_id=<{$category.id}>" title="<{$smarty.const._MD_D3FORUM_LINK_CATEGORYACCESS}>">
                    <img class="svg lock" src="<{$xoops_url}>/images/icons/lock.svg"></a>
                <{* ----- CATEGORY CREATE *}>
                <a class="btn" href="<{$mod_url}>/index.php?page=makecategory&amp;cat_id=<{$category.id}>" title="<{$smarty.const._MD_D3FORUM_LINK_MAKESUBCATEGORY}> <{$smarty.const._MD_D3FORUM_SUFFIX_UNDERTHISCATEGORY}>">
                    <img class="svg folder-plus" src="<{$xoops_url}>/images/icons/folder-plus.svg"></a>
            </div>
            <{/if}>

            <div self="right inline sm-full">

                <{if $category.isadminormod}>
                <a class="btn" href="<{$mod_url}>/index.php?page=makeforum&amp;cat_id=<{$category.id}>" title="<{$smarty.const._MD_D3FORUM_LINK_MAKEFORUM}> <{$smarty.const._MD_D3FORUM_SUFFIX_UNDERTHISCATEGORY}>">
                    <img class="svg forum-plus" src="<{$xoops_url}>/images/icons/topic_plus.svg"> <{$smarty.const._MD_D3FORUM_LINK_MAKEFORUM}></a>
                <{/if}>

                <{* ----- List All Topics *}>

                <a class="btn" href="<{$mod_url}>/index.php?cat_ids=<{$category.id}>">
                    <img class="svg list-tree" src="<{$xoops_url}>/images/icons/list-tree.svg"> <{$smarty.const._MD_D3FORUM_LISTTOPICSINCATEGORY}></a>

            </div>

        </article>

        <{* ----- /Admin Action controller *}>

    </section>



    <{* ----- Subcategories *}>

    <section layout="column mb-4" name="subcategories" class="bg-color">

        <{if $subcategories}>

        <h2><{$smarty.const._MD_D3FORUM_SUBCATEGORIES}></h2>


            <{foreach item=subcategory from=$subcategories}>

            <article name="subcategory-<{$subcategory.id}>" layout="column" class="bg-color">

                <h4 layout="row center">
                    <a self="size-x1" href="<{$mod_url}>/index.php?cat_id=<{$subcategory.id}>">
                        <img class="svg category_<{$subcategory.bit_new}>" src="<{$xoops_url}>/images/icons/category_<{$subcategory.bit_new}>.svg" alt="<{$subcategory.title}>">
                        <{$subcategory.title}>
                    </a>
                    <{if $xoops_isadmin}>
                    <a self="right" href="<{$mod_url}>/index.php?page=categorymanager&amp;cat_id=<{$subcategory.id}>" title="<{$smarty.const._MD_D3FORUM_LINK_CATEGORYMANAGER}>">
                        <img class="svg edit" src="<{$xoops_url}>/images/icons/edit.svg">
                    </a>
                    <{/if}>
                </h4>

                <{if $subcategory.desc}>
                <div layout="row stretch p-4">
                    <{$subcategory.desc}>
                </div>
                <{/if}>

                <{* ------- Activity Overview - Subcategories *}>
                <div layout="row center-justify p-2 my-4">
                    <div><{$smarty.const._MD_D3FORUM_TOTALTOPICSCOUNT}> <span class="badge"><{$subcategory.topics_count_in_tree}></span></div>
                    <div><{$smarty.const._MD_D3FORUM_TOTALPOSTSCOUNT}> <span class="badge"><{$subcategory.posts_count_in_tree}></span></div>
                    <{* RSS margin-right = negative 4x 0.25rem (mr-n4) *}>
                    <a self="" href="<{$mod_url}>/index.php?page=rss&amp;cat_ids=<{$subcategory.id}>&amp;odr=1" title="<{$smarty.const._MD_D3FORUM_LINK_CATEGORYRSS}>">
                        <img class="svg rss" src="<{$xoops_url}>/images/icons/rss.svg" alt="RSS">
                    </a>
                </div>
                <{* ------- Activity Overview - Subcategories *}>


            </article>
            <{/foreach}>

        <{/if}>

        <{* ----- /Subcategories *}>



        <{* ----- Forums List *}>

        <{if $forums}>

        <h2><{$smarty.const._MD_D3FORUM_FORUM}></h2>

        <article layout="column mb-4" class="bg-color">

            <{foreach item=forum from=$forums}>

            <h4 layout="row center-center">
                <a self="size-x1" href="<{$mod_url}>/index.php?forum_id=<{$forum.id}>">
                    <img class="svg forum" src="<{$xoops_url}>/images/icons/forum_<{$forum.bit_new}>.svg" alt="<{$forum.title}>">
                    <{$forum.title}>
                </a>
                <{if $xoops_isadmin}>
                <a self="right" href="<{$mod_url}>/index.php?page=forummanager&amp;forum_id=<{$forum.id}>" title="<{$smarty.const._MD_D3FORUM_LINK_FORUMMANAGER}>">
                    <img class="svg edit" src="<{$xoops_url}>/images/icons/edit.svg"></a>
                <{/if}>
            </h4>

            <div layout="row stretch p-4">
                <{$forum.desc}>
            </div>

            <{* ------- Activity Overview - Forums *}>
            <div layout="row center-justify p-2 my-4">
                <{if $forum.isadminormod}>
                <div self="px-2">
                    <{include file="db:`$mydirname`_inc_moderators.html" target=$forum}>

                    <a href="<{$mod_url}>/index.php?page=forummanager&amp;forum_id=<{$forum.id}>" title="<{$smarty.const._MD_D3FORUM_LINK_FORUMMANAGER}>">
                        <img class="svg edit-box" src="<{$xoops_url}>/images/icons/edit-box.svg"></a>
                </div>
                <{/if}>
                <div><{$smarty.const._MD_D3FORUM_TOPICSCOUNT}> <span class="badge"><{$forum.topics_count}></span></div>
                <div><{$smarty.const._MD_D3FORUM_POSTSCOUNT}> <span class="badge"><{$forum.posts_count}></span></div>
                <{if $forum.last_post_time}>
                <div><{$smarty.const._MD_D3FORUM_LASTPOST}> <span class="badge"><{$forum.last_post_time_formatted}></span>
                    <a href="<{$mod_url}>/index.php?post_id=<{$forum.last_post_id}>" title="<{$forum.last_post_subject}>">
                        <img class="svg posticon" src="<{$xoops_url}>/images/icons/posticon<{$forum.last_post_icon}>.svg" alt="<{$forum.last_post_subject}>">
                        <{if $forum.last_post_gname}>
                        <span><{$forum.last_post_gname}></span>
                        <{else}>
                        <span><{$forum.last_post_uname}></span>
                        <{/if}>
                    </a>

                </div>
                <{/if}>
                <{* RSS margin-right = negative 4x 0.25rem (mr-n4) *}>
                <a self="" href="<{$mod_url}>/index.php?page=rss&amp;forum_id=<{$forum.id}>" title="<{$smarty.const._MD_D3FORUM_LINK_FORUMRSS}>">
                    <img class="svg rss" src="<{$xoops_url}>/images/icons/rss.svg" alt="RSS">
                </a>
            </div>
            <{* ------- /Activity Overview - Forums *}>

            <div layout="row center-right">

                <{if $forum.external_link_format}>
                    <div self="left"> [<{$smarty.const._MD_D3FORUM_FORUMASCOMMENT}>] </div>
                    <{elseif $forum.can_post}>
                    <div self="right">
                        <a class="btn" href="<{$mod_url}>/index.php?page=newtopic&amp;forum_id=<{$forum.id}>">
                            <{$smarty.const._MD_D3FORUM_POSTASNEWTOPIC}></a>
                    </div>
                <{/if}>

            </div>

            <{/foreach}>

        </article>

        <{/if}>

        </section>

        <{* ----- /Forums List *}>


<{* ----- Forum icon legend *}>

<fieldset layout="column center-stretch">
    <legend><{$smarty.const._MD_D3FORUM_LEGEND}></legend>
    <div self="size-x1">
        <img class="svg forum_1" src="<{$xoops_url}>/images/icons/forum_1.svg" alt=""> = <{$smarty.const._MD_D3FORUM_ALT_NEWPOSTS}>
    </div>
    <div self="size-x1">
        <img class="svg forum_0" src="<{$xoops_url}>/images/icons/forum_0.svg" alt=""> = <{$smarty.const._MD_D3FORUM_ALT_NONEWPOSTS}>
    </div>
</fieldset>


<hr class="notification">

<{include file='db:legacy_notification_select.html'}>

<hr>

<{* ----- Category jump-box *}>
<section name="jump-box">
    <form name="category_jump_box" action="<{$mod_url}>/index.php" method="get">
        <select name="cat_id">
            <option value="">(<{$smarty.const._MD_D3FORUM_TOP}>)</option>
            <{$cat_jumpbox_options}>
        </select>
        <button type="submit" class="btn" value="<{$smarty.const._MD_D3FORUM_BTN_JUMPTOCATEGORY}>"><{$smarty.const._MD_D3FORUM_BTN_JUMPTOCATEGORY}></button>
        <a class="btn" href="<{$mod_url}>/index.php?page=search">
            <img class="svg search" src="<{$xoops_url}>/images/icons/search.svg"> <{$smarty.const._MD_D3FORUM_LINK_ADVSEARCH}></a>
    </form>
</section>
