
<footer layout="rows top-center sm-column" self="size-xlarge m-auto">

    <article layout="row" class="footer-breadcrumb">
        <{if $xoops_dirname == ""}>
        <h3><{$xoops_sitename}> <{$xoops_slogan}></h3>
        <{else}>
        <{* Active module breadcrumb *}>
        <{include file="$xoops_theme/component/theme_breadcrumb.html"}>
        <{/if}>
    </article>

        <div self="size-1of3 sm-full">
            <ul class="foot-column">
            <{if !$xoops_isuser}>
                <li><a href="<{$xoops_url}>/user.php"><{$smarty.const._BASIC_LOGIN_FORM}></a>
                <{else}>
                <li><a href="<{$xoops_url}>/user.php"><{$smarty.const._BASIC_USER_ACCOUNT}></a>
                <li><a href="<{$xoops_url}>/edituser.php"><{$smarty.const._BASIC_EDIT_ACCOUNT}></a>
                <li><a href="<{$xoops_url}>/notifications.php"><{$smarty.const._BASIC_NOTIFICATION}></a>
                <li><a href="<{$xoops_url}>/viewpmsg.php" <{if $pm.new_messages}>class="new1"<{/if}>><{$smarty.const._BASIC_VIEWPMSG}>(<{$pm.new_messages}>)</a>
                <li><a href="<{$xoops_url}>/user.php?op=logout"><{$smarty.const._BASIC_LOGOUT}></a>
                <{if $xoops_isadmin}>
                <li><a href="<{$xoops_url}>/admin.php"><{$smarty.const._BASIC_ADMIN_PAGE}></a>
                <{/if}>
            <{/if}>
            </ul>
        </div>

        <div self="size-1of3 sm-full">
            <div id="navigation">
                <ul class="column">
                <{if $menu0.dirname == $xoops_dirname}>
                    <li><a href="<{$xoops_url}>/" class="mod_active"><{$smarty.const._BASIC_HOME_NAME}></a></li>
                <{else}>
                    <li><a href="<{$xoops_url}>/" class="menu_c<{cycle values="1,2,3,4,5,6,7"}>"><{$smarty.const._BASIC_HOME_NAME}></a></li>
                <{/if}>
                <{foreach from=$theme_menus item="menu0"}>
                    <{if $menu0.dirname == $xoops_dirname}>
                        <{assign var="theme_menus1" value=$menu0.sub}>
                        <{assign var="menu0_class" value="s"}>
                    <{else}>
                        <{assign var="menu0_class" value=""}>
                    <{/if}>
                    <li><a href="<{$xoops_url}>/modules/<{$menu0.dirname}>/<{$menu0.url}>" <{if $menu0.dirname == $xoops_dirname}> class="mod_active"<{else}> class="menu_c<{cycle values="1,2,3,4,5,6,7"}>"<{/if}>><{$menu0.name}></a></li>
                <{/foreach}>
                </ul>
            </div>
        </div>

        <div self="size-1of3 sm-full">
            <{* -- Submenu *}>
            <div id="menu_s">
            <{if $theme_menus1}>
                <ul>&nbsp;
                <{foreach from=$theme_menus1 item="menu1"}>
                <{if stristr( $smarty.server.REQUEST_URI , $menu1.url )}>
                    <{assign var="theme_menus2" value=$menu1.sub}>
                    <{assign var="menu1_class" value="selected"}>
                <{else}>
                    <{assign var="menu1_class" value=""}>
                <{/if}>
                <li><a href="<{$xoops_url}>/modules/<{$menu1.dirname}>/<{$menu1.url}>" class="menu_level1 <{$menu1_class}>"><{$menu1.name|truncate:"40"}></a></li>
                <{/foreach}>
                </ul>
            <{/if}>
            </div><{* -- End Submenu *}>

        </div>



</footer>

<{* ---------- CREDITS - COPYRIGHT *}>
<div layout="row center-center" class="foot-credits">
    <p><small>
        <a href="http://xoops123.com/">Original Theme by Marine/mistgreen</a> |
        Design by Gigamaster <{$xoops_footer}> |
        <a href="https://github.com/xoopscube/documentation" title="Themes Documentation">Documentation</a>
    </small></p>
</div>

<{* ---------- x-utils NavTop *}>
<div self="right sm-full">
    <a id="navtop" aria-label="Scroll to Top"></a>
</div>

<{* ---------- Include Vendor Scripts *}>
<!--<script defer src="<{$xoops_imageurl}>js/plugins.js"></script>-->
<!--XCL_UTILS-->
<script src="<{$xoops_url}>/common/js/xcl-utils.js"></script>
<script src="<{$xoops_url}>/common/js/ui-render-svg.js"></script>
