<{* set tab inbox to current active *}>
<{if $smarty.template == 'db:message_outboxlist.html'}>
<{assign var="tabSent" value="active"}>
<{/if}>

<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}> - <{$tabSent}></div>

<ul class="breadcrumb" aria-label="breadcrumb">
    <li><a href="<{$xoops_url}>/">
        <img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" alt=""></a>
    <li><a href="index.php">
    <img class="svg inbox" src="<{$xoops_url}>/images/icons/inbox.svg"> <span self="sm-hide"><{$smarty.const._MI_MESSAGE_NAME}></span></a>
    <li aria-current="page"><{$smarty.const._MD_MESSAGE_TEMPLATE7}>
</ul>


<div class="ui-tab-wrap">

<{include file="$xoops_theme/templates/message/inc_compo_nav.html"}>


    <div class="ui-tab-content">

        <form method="post" action="index.php?action=send">

            <div layout="row center-right sm-column my-2">

            <select name="touid" self="center mr-2 sm-full">
            <option value="0">-<{$smarty.const._MD_MESSAGE_TEMPLATE9}></option>
            <{foreach item=fuser from=$select}>
            <option value="<{$fuser.uid}>"<{if $fuser.select==true}> selected="selected"<{/if}>><{$fuser.uname|xoops_escape}></option>
            <{/foreach}>
            </select>

            <input self="center mr-2 sm-full" type="text" name="subject" size="25" value="<{$subject|xoops_escape}>" placeholder="<{$smarty.const._MD_MESSAGE_TEMPLATE3}>">

            <button type="submit" class="btn" name="subbtn" value="<{$smarty.const._MD_MESSAGE_SEARCH}>">
                <img class="svg search" src="<{$xoops_url}>/images/icons/search.svg"> <{$smarty.const._MD_MESSAGE_SEARCH}></button>

            </div>

        </form>

    <hr>

        <form method="post" action="index.php?action=deleteall">

            <{foreach item=val from=$ListData}>

            <div layout="row center-justify my-2 sm-column" id="printhis" style="border-bottom: 1px solid hsl(219, 17%, 21%);">
                <!-- size-xxsmal = max-width: 240px and size-xsmall = max-width: 360px -->
                <div self="size-xxsmall center mr-4">

                    <input type="checkbox" name="delmsg[]" value="<{$val.outbox_id}>">

                    <img src="<{$val.to_uid|xoops_user_avatarize}>" width="24px" height="24px" alt="" self="center radius-circle mx-2">

                    <{$val.fromname}>

                </div>

                <a href="index.php?action=view&amp;inout=out&amp;outbox=<{$val.outbox_id}>" self="size-x1 center mr-2"><{$val.title|truncate:50:"..."}></a>

                <div self="center" class="badge">
                    <{$val.utime|xoops_formattimestamp:l}>
                </div>

            </div>

            <{/foreach}>

            <input type="hidden" name="inout" value="out">

        </form>

        <nav self="size-x1 center my-4" aria-label="Messages page navigation">
            <div class="pagenavi pagination" align="center"><{xoops_pagenavi pagenavi=$pageNavi}></div>
        </nav>

        <div self="size-x1">
            <button type="submit" class="btn btn-danger" name="subbtn" value="<{$smarty.const._DELETE}>">
                <img class="svg delete" src="<{$xoops_url}>/images/icons/delete.svg"> <{$smarty.const._DELETE}></button>
        </div>

    </div><{* ------- /ui-tab-content *}>

</div><{* ------- /ui-tab-wrap *}>


