<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>

<ul class="breadcrumb" aria-label="breadcrumb">
  <li><a href="<{$xoops_url}>/">
    <svg class="i-home" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg></a>
  <li><a href="<{$xoops_url}>/user.php"><{$smarty.const._MD_USER_LANG_PROFILE}></a>
  <li aria-current="page"><{$smarty.const._MD_USER_LANG_LOSTPASSWORD}>
</ul>


<{if $actionForm->hasError()}>
<div class="errorMsg msg-callout msg-warning">
  <ul>
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message}></li>
    <{/foreach}>
  </ul>
</div>
<{/if}>

<form action="#" method="post">
<{xoops_token form=$actionForm}>
<table class="outer">
  <tr>
    <th colspan="2" style="text-align:left;"><h2><{$smarty.const._MD_USER_LANG_LOSTPASSWORD}></h2></th>
  </tr>
  <tr>
    <td colspan="2">
      <{$smarty.const._MD_USER_LANG_NOPROBLEM}>
    </td>
  </tr>
  <tr>
    <td class="head"><{$smarty.const._MD_USER_LANG_EMAIL}></td>
    <td>
      <{xoops_input name=email value=$actionForm->get('email') size=34 maxlength=60}>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="foot" style="text-align:center;">
      <input type="submit" value="<{$smarty.const._SEND}>" />
    </td>
  </tr>
</table>
</form>
