<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>

<table class="shadow-out">
  <{foreach item=user from=$block.users}>
    <tr class="<{cycle values="even,odd"}>" valign="middle">
      <td align="center">
      <{if $user.avatar != ""}>
      <img src="<{$user.avatar}>" alt="" width="32" self="radius-circle"/><br>
      <{/if}>
      <a href="<{$xoops_url}>/userinfo.php?uid=<{$user.id}>"><{$user.name}></a>
      </td>
      <td align="center"><{$user.joindate|xoops_formattimestamp:s}></td>
    </tr>
  <{/foreach}>
</table>
