<section name="jump-box">
  <form name="forum_jump_box" action="<{$mod_url}>/index.php" method="get" class="form-inline">
    <input type="hidden" name="page" value="forum_access">
    <select name="forum_id" id="select_forum_id"><{$forum_jumpbox_options}></select>
    <button type="submit" class="btn" value="<{$smarty.const._MD_D3FORUM_BTN_JUMPTOFORUM}>"><{$smarty.const._MD_D3FORUM_BTN_JUMPTOFORUM}></button>
    <a class="btn" href="<{$mod_url}>/index.php?page=search">
      <img class="svg search" src="<{$xoops_url}>/images/icons/search.svg"> <{$smarty.const._MD_D3FORUM_LINK_ADVSEARCH}></a>
  </form>
</section>
