<{* Dev-Mode Toggle *}>
<div class="ui-dev-mode"><{$smarty.template}></div>

<{if $mod_config.show_breadcrumbs}>
<ul class="breadcrumb" aria-label="breadcrumb">
    <li><a href="<{$xoops_url}>/">
        <img class="svg home" src="<{$xoops_url}>/images/icons/home.svg" alt=""></a>
    <li><a href="<{$mod_url}>/index.php">
    <img class="svg forum" src="<{$xoops_url}>/images/icons/forum_1.svg" alt=""> <{$smarty.const._MD_D3FORUM_TOP}></a>
    <{foreach from=$category.paths_raw key=parent_id item=parent_title_raw}>
    <li><a href="<{$mod_url}>/index.php?cat_id=<{$parent_id}>"><{$parent_title_raw|escape}></a>
    <{/foreach}>
    <li aria-current="page"><{$forum.title}>
</ul>
<{/if}>



<{* ------- Forum Top *}>

<section layout="column my-4" name="category-top" class="bg-color">

    <div layout="rows center-justify mb-4">
        <div self="size-x1">
            <h2><{$forum.title}></h2>
        </div>
        <div self="top mt-2 mr-2">
            <a href="<{$mod_url}>/index.php?page=rss&amp;forum_id=<{$forum.id}>&amp;odr=1" title="<{$smarty.const._MD_D3FORUM_LINK_FORUMRSS}>">
            <img class="svg rss" src="<{$xoops_url}>/images/icons/rss.svg" alt="RSS"></a>
        </div>
        <div layout="row">
            <{$forum.desc}>
        </div>

        <div self="size-x1 left">
            <{include file="db:`$mydirname`_inc_moderators.html" target=$forum}>
        </div>
    </div>


        <{* ------- Admin Action controller *}>

        <article layout="row center-justify sm-column" name="Controller">
            <{if $forum.isadminormod}>
            <div layout="row center-left" role="group" aria-label="Admin Category">
                <a class="btn" href="<{$mod_url}>/index.php?page=forummanager&amp;forum_id=<{$forum.id}>">
                    <img class="svg edit-box" src="<{$xoops_url}>/images/icons/edit-box.svg"> <{$smarty.const._MD_D3FORUM_LINK_FORUMMANAGER}></a>
                <{if $xoops_isadmin}>
                <a class="btn" href="<{$mod_url}>/admin/index.php?page=forum_access&amp;forum_id=<{$forum.id}>">
                    <img class="svg lock" src="<{$xoops_url}>/images/icons/lock.svg"> <{$smarty.const._MD_D3FORUM_LINK_FORUMACCESS}></a>
                <{/if}>
            </div>
            <{/if}>


            <{if $forum.external_link_format}>
            <div self="left">
                <{$smarty.const._MD_D3FORUM_FORUMASCOMMENT_DESC}>
            </div>
            <{elseif $forum.can_post}>
            <div self="right">
                <a class="btn" href="<{$mod_url}>/index.php?page=newtopic&amp;forum_id=<{$forum.id}>">
                    <{$smarty.const._MD_D3FORUM_POSTASNEWTOPICTOTHISFORUM}>
                </a>
            </div>
            <{else}>
            <div self="right">
                <button class="btn" disabled><{$smarty.const._MD_D3FORUM_CANTCREATENEWTOPICTHISFORUM}></button>
            </div>
            <{/if}>

            <{* ----- Guest can post or not *}>

            <{if ! $xoops_isuser}>
                <{if $forum.can_post}>
                    <span><{$smarty.const._MD_D3FORUM_GUESTSCANPOST_DESC}></span>
                <{else}>
                    <span><button class="btn" disabled><{$smarty.const._MD_D3FORUM_GUESTSCANNOTPOST_DESC}></button></span>
                <{/if}>
            <{/if}>

        </article>

        <{* ------- /Admin Action controller *}>

    </section>

    <{* ------- /Forum Top *}>



<{include file="db:`$mydirname`_inc_d3comment_summary.html" topic=$d3comment_info}>



    <{* ------- Form selection sort *}>

    <form action="<{$mod_url}>/index.php" method="get">
    <{$forum_selection_sort}>

        <input type="hidden" name="forum_id" value="<{$forum.id}>">
        <input type="hidden" name="external_link_id" value="<{$query.external_link_id}>">

        <div layout="row center-right">
            <label>
                <input type="text" size="12" name="txt" value="<{$query.txt}>">
            </label>
            <{if $mod_config.use_solved}>
            <label>
                <select name="solved">
                    <{html_options options=$solved_options selected=$query.solved}>
                </select>
            </label>
            <{/if}>
            <label>
                <select name="odr">
                    <{html_options options=$odr_options selected=$query.odr}>
                </select>
            </label>
            <button type="submit" class="btn" value="<{$smarty.const._MD_D3FORUM_BTN_REFRESHTOPICS}>">
                <{$smarty.const._MD_D3FORUM_BTN_REFRESHTOPICS}></button>
        </div>
    </form>



    <{if $pagenav}>
    <nav layout="row center-center my-4" aria-label="Forum page navigation">
        <div class="pagination"><{$pagenav}></div>
    </nav>
    <{/if}>



    <{* ----- List Forum Topics *}>

    <section layout="column pt-4" name="forum-list-topics" class="bg-color">


        <{foreach item=topic from=$topics}>

        <{* ToDO theme component for Forum topics images
            NOTE : Must assign icons within topic loop ! *}>

        <{if $topic.sticky}>
        <{assign var="topic_icon_src" value="`$xoops_url`/images/icons/topic_sticky`$topic.bit_new`.svg"}>
        <{assign var="topic_icon_alt" value=$smarty.const._MD_D3FORUM_TOPICSTICKY}>
        <{elseif $topic.invisible}>
        <{assign var="topic_icon_src" value="`$xoops_url`/images/icons/topic_invisible.svg"}>
        <{assign var="topic_icon_alt" value=$smarty.const._MD_D3FORUM_ALT_INVISIBLE}>
        <{else}>
        <{assign var="topic_icon_src" value="`$xoops_url`/images/icons/topic_`$topic.bit_new``$topic.bit_hot`.svg"}>
        <{assign var="topic_icon_alt" value=""}>
        <{/if}>
        <article layout="column sm-column mb-4" name="forum-topics-list" class="bg-color">

            <div layout="row center-justify pt-2">

                <div self="px-2">
                    <img class="svg topic-icon" src="<{$topic_icon_src}>" alt="<{$topic_icon_alt}>">
                    <{if $topic.locked}>
                        <img class="svg lock" src="<{$xoops_url}>/images/icons/topic_status_locked1.svg" alt="<{$smarty.const._MD_D3FORUM_TOPICLOCKED}>">
                    <{/if}>

                    <{if $mod_config.use_solved && ! $topic.solved}>
                        <{if $forum.isadminormod}>
                        <a href="<{$mod_url}>/index.php?page=update_topic_solved&amp;topic_id=<{$topic.id}>&amp;ret_name=forum_id&amp;ret_val=<{$forum.id}>" title="<{$smarty.const._MD_D3FORUM_SOLVED_TURNON}>">
                            <img class="svg solved-no" src="<{$xoops_url}>/images/icons/topic_status_solved0.svg" alt="<{$smarty.const._MD_D3FORUM_ALT_SOLVEDNO}>">
                        </a>
                        <{else}>
                        <img class="svg solved-no" src="<{$xoops_url}>/images/icons/topic_status_solved0.svg" alt="<{$smarty.const._MD_D3FORUM_ALT_SOLVEDNO}>">
                        <{/if}>
                    <{/if}>

                    <{if $mod_config.use_solved && $topic.solved}>
                    <{if $forum.isadminormod}>
                    <a href="<{$mod_url}>/index.php?page=update_topic_solved&amp;topic_id=<{$topic.id}>&amp;ret_name=forum_id&amp;ret_val=<{$forum.id}>" title="<{$smarty.const._MD_D3FORUM_SOLVED_TURNOFF}>">
                        <img class="svg solved" src="<{$xoops_url}>/images/icons/topic_status_solved1.svg" alt="<{$smarty.const._MD_D3FORUM_ALT_SOLVEDYES}>">
                    </a>
                    <{else}>
                    <img class="svg solved" src="<{$xoops_url}>/images/icons/topic_status_solved1.svg" alt="<{$smarty.const._MD_D3FORUM_ALT_SOLVEDYES}>">
                    <{/if}>
                    <{/if}>


                    <{if $mod_config.allow_mark && $uid && $topic.u2t_marked}>
                    <a href="<{$mod_url}>/index.php?page=update_u2t_marked&amp;topic_id=<{$topic.id}>&amp;ret_name=forum_id&amp;ret_val=<{$forum.id}>" title="<{$smarty.const._MD_D3FORUM_MARK_TURNOFF}>">
                        <img class="svg marked" src="<{$xoops_url}>/images/icons/topic_status_marked1.svg" alt="<{$smarty.const._MD_D3FORUM_ALT_MARKEDYES}>"></a>
                    <{/if}>
                    <a href="<{$mod_url}>/index.php?topic_id=<{$topic.id}>#post_id<{$topic.last_post_id}>"><{$topic.title}></a>
                    <{$topic.topic_page_jump}>
                </div>

                <{if $topic.replies>0}>
                <div self="px-2" abbr="<{$smarty.const._MD_D3FORUM_LASTPOST}>">

                    <p>
                        <{$smarty.const._MD_D3FORUM_LASTPOST}> <span class="badge"><{$topic.last_post_time_formatted}></span> -
                        <a href="<{$mod_url}>/index.php?post_id=<{$topic.last_post_id}>">
                        <{if $topic.last_post_gname}>
                            <{$topic.last_post_gname}>
                        <{else}>
                            <{$topic.last_post_uname}>
                        <{/if}>

                        <img class="svg posticon" src="<{$xoops_url}>/images/icons/posticon<{$topic.last_post_icon}>.svg" alt="<{$topic.last_post_subject}>">
                    </a>
                    </p>

                </div>
                <{/if}>
            </div>

            <{* Activity *}>
            <div layout="row center-justify my-4 p-2">

                <div self="px-2" abbr="<{$smarty.const._MD_D3FORUM_TOPIC}>">
                    <{$topic_hits|string_format:$smarty.const._MD_D3FORUM_FMT_TOPICHITS}>
                </div>
                <div abbr="<{$smarty.const._MD_D3FORUM_REPLIES}>">
                    <{$smarty.const._MD_D3FORUM_REPLIES}> <span class="badge"><{$topic.replies}></span>
                </div>
                <div abbr="<{$smarty.const._MD_D3FORUM_VIEWS}>">
                    <{$smarty.const._MD_D3FORUM_VIEWS}> <span class="badge"><{$topic.views}></span>
                </div>
                <{if $mod_config.use_vote}>
                    <div abbr="<{$smarty.const._MD_D3FORUM_VOTECOUNT}>">
                        <{$smarty.const._MD_D3FORUM_VOTECOUNT}> <span class="badge"><{$topic.votes_count}></span>
                    </div>
                    <div abbr="<{$smarty.const._MD_D3FORUM_VOTEPOINTAVG}>">
                        <{$smarty.const._MD_D3FORUM_VOTEPOINTAVG}> <span class="badge"><{$topic.votes_avg|string_format:"%.2f"}></span>
                    </div>
                <{/if}>
            </div>


        </article>

        <{/foreach}>
        <{* ------- end forum topic *}>



    </section>


    <{if $pagenav}>
        <nav aria-label="Forum page navigation">
            <div class="pagination justify-content-center my-4"><{$pagenav}></div>
        </nav>
    <{/if}>



<{* ----- Forum icon legend *}>

    <fieldset layout="row" class="d3f_iconexps">
        <legend><{$smarty.const._MD_D3FORUM_LEGEND}></legend>
        <ul class="d3f_iconexp">
            <li><img class="svg new" src="<{$xoops_url}>/images/icons/topic_10.svg" alt=""> = <{$smarty.const._MD_D3FORUM_TOPICNEWPOSTS}></li>
            <li><img class="svg new" src="<{$xoops_url}>/images/icons/topic_11.svg" alt=""> = <{$smarty.const._MD_D3FORUM_TOPICNEWPOSTS}></li>
            <li><img class="svg topic" src="<{$xoops_url}>/images/icons/topic_01.svg" alt=""> = <{$smarty.const._MD_D3FORUM_TOPICNONEWPOSTS}></li>
            <li><img class="svg invisible" src="<{$xoops_url}>/images/icons/topic_invisible.svg" alt=""> = <{$smarty.const._MD_D3FORUM_TOPICINVISIBLE}></li>
            <li><img class="svg stick" src="<{$xoops_url}>/images/icons/topic_sticky0.svg" alt=""> = <{$smarty.const._MD_D3FORUM_TOPICSTICKY}></li>
        </ul>
        <ul class="d3f_iconexp">
            <li><img class=" svg lock" src="<{$xoops_url}>/images/icons/topic_status_locked1.svg" alt=""> = <{$smarty.const._MD_D3FORUM_TOPICLOCKED}></li>
            <li><img class="svg solved-no" src="<{$xoops_url}>/images/icons/topic_status_solved0.svg" alt=""> = <{$smarty.const._MD_D3FORUM_ALT_SOLVEDNO}></li>
            <li><img class="svg solved" src="<{$xoops_url}>/images/icons/topic_status_solved1.svg" alt=""> = <{$smarty.const._MD_D3FORUM_ALT_SOLVEDYES}></li>
            <li><img class="svg marked" src="<{$xoops_url}>/images/icons/topic_status_marked1.svg" alt=""> = <{$smarty.const._MD_D3FORUM_ALT_MARKEDYES}></li>
        </ul>
    </fieldset>


<hr class="notification">

<{include file='db:legacy_notification_select.html'}>

<hr>

<{* ----- Forum jump-box *}>
<section name="jump-box">
    <form name="forum_jump_box" action="<{$mod_url}>/index.php" method="get" class="form-inline">
        <input type="hidden" name="page" value="forum_access">
        <select name="forum_id" id="select_forum_id"><{$forum_jumpbox_options}></select>
        <button type="submit" class="btn" value="<{$smarty.const._MD_D3FORUM_BTN_JUMPTOFORUM}>"><{$smarty.const._MD_D3FORUM_BTN_JUMPTOFORUM}></button>
        <a class="btn" href="<{$mod_url}>/index.php?page=search">
            <img class="svg search" src="<{$xoops_url}>/images/icons/search.svg"> <{$smarty.const._MD_D3FORUM_LINK_ADVSEARCH}></a>
    </form>
</section>
